table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.boton{
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 5px;
    border: 0;
}
#boton1{
    background-color: green;
}
#boton2{
    background-color: blue;
}
#boton3{
    background-color: red;
}